# PostgreSQL connection string
DATABASE_URL="postgresql://username:password@localhost:5432/your_database_name"
#username password and your_database_name are placeholder

# NextAuth Configuration
NEXTAUTH_SECRET="your-super-secret-string-here"
NEXTAUTH_URL="http://localhost:3000"
#your-super-secret-string-here are placeholder
#http://localhost:3000 are placeholder (keep when run local) (replace URL when project run online)

# --- Placeholders for future vars ---
# S3 keys if CV storage goes external
# S3_ACCESS_KEY="your-s3-access-key-here"
# S3_SECRET_KEY="your-s3-secret-key-here"

# SSO endpoints
# SSO_ENDPOINT="https://sso.your-provider.com"